<section class="custom-liquid section-spacing">
  <div class="page-width rte">
    {{ section.settings.custom_liquid }}
  </div>
</section>

{% schema %}
{
  "name": "Custom liquid",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom liquid"
    }
  ],
  "presets": [
    {
      "name": "Custom liquid"
    }
  ]
}
{% endschema %}