<div class="page-hero">
  <div class="page-width">
    <h1 class="page-hero__title">{{ page.title }}</h1>
  </div>
</div>

<div class="page-width">
  <div class="page-content rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
