<div class="not-found section-padding">
  <div class="page-width">
    <div class="not-found__code">404</div>
    <h1 class="not-found__title">{{ 'sections.404.title' | t }}</h1>
    <p class="not-found__text">{{ 'sections.404.description' | t }}</p>
    <a href="{{ routes.root_url }}" class="button button--primary">
      {{ 'sections.404.link' | t }}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-404.name",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
